.additional-information{
    margin: 1em ; 
    min-width: 28%; 
    display: flex;
    flex-direction: column;
    text-align: flex-end;
    justify-content: center;

}

.additional-information h4{
    margin: 1em;
    color: #AAAAAA;
}


@media (max-width: 768px) {
    /* Estilos para dispositivos móviles */
    /* Por ejemplo, ajustar el tamaño de fuente o el diseño de la página */
    
    .container-detail{
        flex-direction: column;
        align-items: center;
    }
}